<h1>Hello, <%= current_user.username %></h1>
<h3><%=@workout.name%>
<p>Type: <%= @workout.workout_type %></p>
<p>Duration: <%= @workout.duration %></p>
<p>Distance: <%= @workout.distance %></p>
<p>Pace: <%= @workout.pace %></p>
