<h1>Hello, <%= current_user.username %></h1>
<h3><%=@workout.name%>
<p>Type: <%= @workout.workout_type %></p>
<p>Duration: <%= @workout.duration %> minutes.</p>
<p>Distance: <%= @workout.distance %> miles.</p>
<p>Pace: <%= @workout.pace %></p>
<br>
<h3><a href='/workouts'>View All Workouts</a></h3>
<h3><a href="/workouts/<%="#{@workout.id}"%>/update">Edit Activity</a></h3>
<form action="/workouts/<%="#{@workout.id}"%>/delete" method='POST'>
  <input type='hidden' name="_method" value="DELETE">
  <h3>Delete Activity</h3>
  <input type='submit' value='Delete'>
</form>
