<h1>Update Workout Details</h1>

<form action="/workouts/<%="#{@workout.id}"%>/update" method="POST">
  <input type='hidden' name='_method' value="PATCH">
  <p>New Workout Name: <input type='text' name='workout[name]' value="<%="#{@workout.name}"%>"></p>
  <p>Change Workout Type: <input type='text' name='workout[workout_type]'  value="<%="#{@workout.workout_type}"%>"></p>
  <p>Distance (miles): <input type='text' name='workout[distance]'  value="<%="#{@workout.distance}"%>"></p>
  <p>Duration (minutes): <input type='text' name='workout[duration]'  value="<%="#{@workout.duration}"%>"></p>
  <input type='submit' value="Update">
</form>
<br>
<form action="/workouts/<%="#{@workout.id}"%>/delete" method='POST'>
  <input type='hidden' name="_method" value="DELETE">
  <h3>Delete Activity</h3>
  <input type='submit' value='Delete'>
</form>
